
   <form method="get" action="/quizes">
   Texto a buscar: <input type="text" name="search" value=""/>
    TEMA:
   <select name="tema">
	<option value="" selected></option>
	<option value="Otro">Otro</option>
	<option value="Humanidades">Humanidades</option>
	<option value="Ocio">Ocio</option>
	<option value="Ciencia">Ciencia</option>
	<option value="Tecnologia">Tecnología</option>
   </select>
   <input type="submit" value="Filtrar preguntas">
   </form>
   
   
<table>
 <% var i; for (i=0; i<quizes.length; i++) { %>
	<tr>
		<td><%= quizes[i].id %></td><td><%= quizes[i].tema %></td><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %> </a></td>
		<td><a href="quizes/<%= quizes[i].id %>/edit"><button>EDITAR</button> </a></td>
	
	        <td>
			<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
			<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">BORRAR</button>
          </form>
        </td>

	</tr>

<% } %>
 </table>
 <p>
 <a href="/quizes/new"><button type="button"> Crear nueva pregunta</button></a>
 
